<h1>{{title}} <button type="button" class="btn btn-success" (click)="onAdding()">Create new product</button></h1>
<div [hidden]="!isAdd" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Adding new product</h1>
      <form #addForm="ngForm" >




        <div class="form-group">
          <label for="ProductName">Name</label>
          <input type="text"  id="ProductName" name="ProductName"
                 [(ngModel)]="model.ProductName" class="form-group">

        </div>

        <div class="form-group">
          <label for="Price">Price</label>
          <input type="text"  id="Price" name="Price"
                 [(ngModel)]="model.Price" class="form-group">
        </div>

        <div>
          <button class="btn btn-success" (click)="addItem()"
                  [disabled]="!addForm.form.valid"> Add </button>

        </div>
      </form>
    </div>
  </div>

</div>
<label >Product Name</label>
<label >Price</label>
<ul *ngFor="let item of items | async">

  <div>
    <label >{{ item.ProductName}}</label>
    <label >{{ item.Price}}</label>
    <label>{{item.InUse}}</label>

  </div>

  <button [disabled]="!isEdit" type="button" class="btn btn-warning" (click)="openToEdit(item.$key)">Edit</button>
  <button type="button" class="btn btn-danger" (click)="deleteItem(item.$key)">Delete</button>
  <div *ngIf="editKey == item.$key">



    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Edit</h1>
          <form #editForm="ngForm">




            <div class="form-group">
              <label for="ProductName">Name</label>
              <input type="text"  id="NameProduct" name="ProductName"
                     [(ngModel)]="model.ProductName" class="form-group">

            </div>

            <div class="form-group">
              <label for="Price">Price</label>
              <input type="text"  id="PriceProduct" name="Price"
                     [(ngModel)]="model.Price" class="form-group">
            </div>

            <div class="form-group">
              <label for="InUse">Status</label>
              <input type="text"  id="InUse" name="InUse"
                     [(ngModel)]="model.InUse" class="form-group">
            </div>

            <div>

              <button  type="button"
                       class="btn btn-success" (click)="updateItem(item.$key)"
                       [disabled]="!editForm.form.valid">
                Save</button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>



</ul>


