<script>
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    e.target // newly activated tab
    e.relatedTarget // previous active tab
  })
</script>

<div class="container">
  <div class="jumbotron">
    <div class="page-header">

      <h1> {{title}}</h1>
    </div>


    <!--<button (click)="onSelectTopic(1)">Product</button>-->
    <!--<button (click)="onSelectTopic(2)">Home User</button>-->
    <!--<app-product *ngIf="topicValue == '1'">Preparing product information</app-product>-->

    <!--<app-user-component *ngIf="topicValue =='2'"></app-user-component>-->


    <!--<button class="btn btn-default" (click)="logout()">Logout</button>-->
    <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- Nav tabs category -->
        <ul class="nav nav-tabs faq-cat-tabs">
          <li class="active"><a href="#faq-cat-1" data-toggle="tab"><i class="glyphicon glyphicon-th-list"></i> Product</a></li>
          <li><a href="#faq-cat-2" data-toggle="tab"><i class="glyphicon glyphicon-th-list"></i> Home User</a></li>
          <!-- final progress -->
          <li><a href="#faq-cat-3" data-toggle="tab"><i class="glyphicon glyphicon-th-list"></i> Data visualization</a></li>
          <button type="button" class="btn btn-default btn-sm logoutButton" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </button>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content faq-cat-content">
          <div class="tab-pane active in fade" id="faq-cat-1">
            <app-product>Preparing product information</app-product>
          </div>
          <div class="tab-pane fade" id="faq-cat-2">

          <app-user-component></app-user-component>

        </div>

          <div class="tab-pane fade" id="faq-cat-3">

            <app-chart></app-chart>

          </div>
        </div>

      </div>
    </div>
    </div>

  </div>
</div>
