<script>
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    e.target // newly activated tab
    e.relatedTarget // previous active tab
  })
</script>

<div class="container">
  <div class="jumbotron">
    <div class="page-header">

      <h1> {{title}}</h1>
    </div>


    <!--<button (click)="onSelectTopic(1)">Product</button>-->
    <!--<button (click)="onSelectTopic(2)">Home User</button>-->
    <!--<app-product *ngIf="topicValue == '1'">Preparing product information</app-product>-->

    <!--<app-user-component *ngIf="topicValue =='2'"></app-user-component>-->


    <!--<button class="btn btn-default" (click)="logout()">Logout</button>-->
    <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- Nav tabs category -->
        <ul class="nav nav-tabs faq-cat-tabs">
          <li class="active"><a href="#faq-cat-1" data-toggle="tab"><i class="glyphicon glyphicon-th-list"></i> Product</a></li>
          <li><a href="#faq-cat-2" data-toggle="tab"><i class="glyphicon glyphicon-th-list"></i> Home User</a></li>
          <button type="button" class="btn btn-default btn-sm logoutButton" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </button>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content faq-cat-content">
          <div class="tab-pane active in fade" id="faq-cat-1">
            <app-product>Preparing product information</app-product>
          </div>
          <div class="tab-pane fade" id="faq-cat-2">

            <app-user-component></app-user-component>
            <!--<div class="panel-group" id="accordion-cat-2">-->
            <!--<div class="panel panel-default panel-faq">-->
            <!--<div class="panel-heading">-->
            <!--<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">-->
            <!--<h4 class="panel-title">-->
            <!--Nested item 1-->
            <!--<span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>-->
            <!--</h4>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div id="faq-cat-2-sub-1" class="panel-collapse collapse">-->
            <!--<div class="panel-body">-->
            <!--<div class="row form-group">-->
            <!--<div class="col-sm-2">Fever</div>-->
            <!--<div class=" col-sm-3 btn-group" data-toggle="buttons">-->
            <!--<label class="btn btn-primary btn-sm  active">-->
            <!--<input type="checkbox" autocomplete="off" checked>Yes-->
            <!--</label>-->
            <!--<label class="btn btn-primary btn-sm">-->
            <!--<input type="checkbox" autocomplete="off">No-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-default panel-faq">-->
            <!--<div class="panel-heading">-->
            <!--<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">-->
            <!--<h4 class="panel-title">-->
            <!--Nested item  #2-->
            <!--<span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>-->
            <!--</h4>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div id="faq-cat-2-sub-2" class="panel-collapse collapse">-->
            <!--<div class="panel-body">-->

            <!--<div class="row form-group">-->
            <!--<div class="col-sm-2">Fever</div>-->
            <!--<div class=" col-sm-3 btn-group" data-toggle="buttons">-->
            <!--<label class="btn btn-primary btn-sm  active">-->
            <!--<input type="checkbox" autocomplete="off" checked>Yes-->
            <!--</label>-->
            <!--<label class="btn btn-primary btn-sm">-->
            <!--<input type="checkbox" autocomplete="off">No-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->


            <!--<div class="row form-group">-->
            <!--<div class="col-sm-2">Fever</div>-->
            <!--<div class=" col-sm-3 btn-group" data-toggle="buttons">-->
            <!--<label class="btn btn-primary btn-sm  active">-->
            <!--<input type="checkbox" autocomplete="off" checked>Yes-->
            <!--</label>-->
            <!--<label class="btn btn-primary btn-sm">-->
            <!--<input type="checkbox" autocomplete="off">No-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>

      </div>
    </div>
    </div>

  </div>
</div>
