h1{
  text-align: center;
}

body {
  padding-top: 30px;
}


.logoutButton{
  float: right;
  margin-top: 15px;
  color: dimgrey;
}

.row{
padding-left: 0;
}

.faq-cat-content {
  margin-top: 25px;
}

.faq-cat-tabs li a {
  padding: 15px 10px 15px 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #777777;
}

.faq-cat-tabs li a:active {
  color: black;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
  outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
  text-decoration: none;
  color: #777777;
}

.faq-cat-content .panel-heading:hover {
  background-color: #efefef;
}

.active-faq {
  border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
  font-size: 13px;
  font-weight: normal;
}
